/* p {
    color: red;
}

p {
    color: green;
} */




.text:hover {
    color: red;
}

.text {
    color: green;
}

#something-text:hover {
    color: blue;
}

#something-text {
    color: yellow;
}











/* p {
    color: blue;
} */

@media (max-width: 500px) {
    button {
        display: none;
    }
}



.text {
    /* opacity: 0; */
    /* color: red; */
    /* transition: 5s; */
    animation: 5s infinite geekster_animation;
}

@keyframes geekster_animation {
    from {
        transform: translateX(-200px);
    }
    to {
        transform: translateX(400px);
    }
}

.text:hover {
    /* color: green; */
    /* opacity: 1; */
}



/* .text {
    color: blue;
}

[key="value"] {
    color: black;
}
 */




/* #highest {
    color: cyan;
} */

/* * {
    color: yellow;
} */











/* 
li {
    color: red;
}

.special {
    color: green;
} */











